KERNEL_SRC=/src/linux-dev
. test_core/lib/common.sh
. test_core/lib/setup_mce_tools.sh
. test_core/lib/setup_hugetlb_base.sh
. test_core/lib/setup_thp_base.sh

. setup_memcg.sh
. setup_mincore.sh
. setup_mbind.sh
. setup_vma_vm_pfnmap.sh
. setup_read_through_proc_pid.sh

#!TABLE: page_table_walker.rc.table
