KERNEL_SRC=/src/linux-dev
. test_core/lib/setup_mce_tools.sh

DEFAULT_TEST_PREPARE=prepare_test
DEFAULT_TEST_CHECKER=cleanup_test

. setup_memcg.sh

TEST_TITLE='memcg_move_task'
TEST_PREPARE=prepare_memcg
TEST_CHECKER=cleanup_memcg
TEST_CONTROLLER=control_memcg
TEST_CHECKER=check_memcg
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE='force_swapin_readahead'
TEST_PREPARE=prepare_force_swapin_readahead
TEST_CHECKER=cleanup_force_swapin_readahead
TEST_CONTROLLER=control_force_swapin_readahead
TEST_CHECKER=check_force_swapin_readahead
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

. setup_mincore.sh

TEST_TITLE='mincore'
TEST_PROGRAM="${MINCORE} -f ${TMPF}.holefile -t 0xffff"
TEST_PREPARE=prepare_mincore
TEST_CHECKER=cleanup_mincore
TEST_CONTROLLER=control_mincore
TEST_CHECKER=check_mincore
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

TEST_TITLE='mincore_hole'
TEST_PROGRAM="${MINCORE} -f ${TMPF}.holefile"
TEST_PREPARE=prepare_mincore
TEST_CHECKER=cleanup_mincore
TEST_CONTROLLER=control_mincore
TEST_CHECKER=check_mincore
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

. setup_mbind.sh

TEST_TITLE='mbind_test'
TEST_PROGRAM="${MBIND}"
EXPECTED_RETURN_CODE="START EXIT"
TEST_CONTROLLER=control_mbind
TEST_CHECKER=check_mbind
do_test_sync

TEST_TITLE='mbind_fuzz'
TEST_PREPARE=prepare_mbind_fuzz
TEST_CHECKER=cleanup_mbind_fuzz
TEST_CONTROLLER=control_mbind_fuzz
TEST_CHECKER=check_mbind_fuzz
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE='mbind_fuzz_normal_heavy'
TEST_PREPARE=prepare_mbind_fuzz
TEST_CHECKER=cleanup_mbind_fuzz
TEST_CONTROLLER=control_mbind_fuzz_normal_heavy
TEST_CHECKER=check_mbind_fuzz
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE='mbind_unmap_race'
TEST_PREPARE=prepare_mbind_fuzz
TEST_CHECKER=cleanup_mbind_fuzz
TEST_CONTROLLER=control_mbind_unmap_race
TEST_CHECKER=check_mbind_fuzz
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

. setup_hugepage_pingpong.sh

TEST_TITLE='hugepage_pingpong_single'
TEST_PREPARE=prepare_hugepage_pingpong
TEST_CLEANUP=cleanup_hugepage_pingpong
TEST_CONTROLLER=control_hugepage_pingpong
TEST_CHECKER=check_hugepage_pingpong
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

break

TEST_TITLE='hugepage_pingpong_race'
TEST_PREPARE=prepare_hugepage_pingpong
TEST_CLEANUP=cleanup_hugepage_pingpong
TEST_CONTROLLER=control_hugepage_pingpong_race
TEST_CHECKER=check_hugepage_pingpong
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE='hugepage_pingpong_race_with_numa_maps'
TEST_PREPARE=prepare_hugepage_pingpong
TEST_CLEANUP=cleanup_hugepage_pingpong
TEST_CONTROLLER=control_hugepage_pingpong_race_with_numa_maps
TEST_CHECKER=check_hugepage_pingpong
EXPECTED_RETURN_CODE="START EXIT"
do_test_async
